/*========================================
    Flex Table
========================================*/

.wuxFlexTable,
.wuxFlexTableNoWrap
{
	position: relative;
	display: flex;
    align-content: flex-start;
}

.wuxFlexTable
{
    flex-flow: row wrap;
}

.wuxFlexTableNoWrap
{
    flex-flow: row;
}

.wuxFlexTableItemGroup,
.wuxFlexTableItemGroup8
{
    position: relative;
    display: block;
	padding: 5px;
}

.wuxFlexTableItemGroup
{
	flex: 1;
}

.wuxFlexTableItemGroup8
{
	flex: 8;
}

.wuxFlexTableItemHeader,
.wuxFlexTableItemSubheader,
.wuxFlexTableItemData
{
	position: relative;
	display: block;
	min-width: 100%;
	margin: 0px;
	padding: 0px;
}

.wuxFlexTableItemHeader
{
    color: #d0d0d0;
    font-size: 13px;
    font-weight: bold;
	text-align: center;

    border-bottom: 1px solid #FFF;
}

span.wuxFlexTableItemData,
.wuxFlexTableItemData span,
.wuxFlexTableItemData input
{
    color: #f4f6f8;
    font-size: 12px;
	text-align: center;
}

input[type=number].wuxFlexTableItemData
{
    -moz-appearance: textfield;
    appearance: textfield;
}

input.wuxFlexTableItemData
{
	color: #1d1e1f;
    background: #efefef;
	
    -webkit-appearance: none;
    appearance: none;
}

input[type=hidden].wuxErrorField-flag[value="1"] + input.wuxFlexTableItemData
{
    background: red;
}

.wuxFlexTableItemSubheader
{
    color: #d0d0d0;
    font-size: 8px;
	text-align: center;
}

/*========================================
    Distinct Elements
========================================*/

.wuxDistinctSection
{
    position: relative;
    display: block;
	width: 95%;
	max-width: 250px;
    height: auto;
}

.wuxDistinctSection .wuxDistinctField
{
    position: relative;
    display: block;
	width: 100%;
    height: auto;
}


.wuxDistinctSection .wuxDistinctTitle,
.wuxDistinctSection .wuxDistinctSubtitle,
.wuxDistinctSection .wuxDistinctData,
.wuxDistinctSection .wuxDistinctSubdata
{
    display: inline-block;
    margin: 0px -4px 0px 0px;
    padding: 0px 4px 0px 0px;
    padding-left: 5px;
    vertical-align: bottom;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wuxDistinctSection .wuxDistinctTitle,
.wuxDistinctSection .wuxDistinctSubtitle
{
    text-transform: capitalize;
    color: #ffffdf;

    border-width: 0px;
    border-bottom: 2px solid #000;
    border-radius: 5px 0px 0px 5px;
}

.wuxDistinctSection .wuxDistinctTitle
{
    position: relative;
    width: 25%;

    font-size: 10px;
    line-height: 15px;
    text-align: right;

    background: linear-gradient(320deg, #512800 0%, #4b1e00 20%, #512800 50%, #4b1e00 80%, #512800 100%);
    border-radius: 5px 0px 0px 5px;
}

.wuxDistinctSection .wuxDistinctSubtitle
{
    position: relative;
    left: 20px;
    width: calc(25% - 20px);

    font-size: 8px;
    line-height: 15px;
    text-align: right;

    background: linear-gradient(to right, #86530f, #815822, #6e420a);
    border: 0px solid #000;
    border-width: 1px 0px 1px 1px;
}

.wuxDistinctSection .wuxDistinctData,
.wuxDistinctSection .wuxDistinctData select,
.wuxDistinctSection .wuxDistinctSubdata,
.wuxDistinctSection .wuxDistinctSubdata select
{
    margin: 0px;
	padding: 0px 0px 0px 5px;
    width: calc(75% - 15px);

    color: #fff;
    font-weight: bold;

    background-color: #ba7417;
    border-width: 0px;
	
    -webkit-appearance: none;
    appearance: none;
}

.wuxDistinctSection .wuxDistinctData,
.wuxDistinctSection .wuxDistinctSubdata
{
    border-bottom: 2px solid #000;
    border-radius: 0px 5px 5px 0px;
}

.wuxDistinctSection .wuxDistinctData,
.wuxDistinctSection .wuxDistinctData select,
.wuxDistinctSection .wuxDistinctSubdata,
.wuxDistinctSection .wuxDistinctSubdata select
{
    position: relative;
    display: inline-block;

    font-size: 12px;
    line-height: 15px;
	text-align: left;
}

.wuxDistinctSection input.wuxDistinctData,
.wuxDistinctSection input.wuxDistinctSubdata
{
    width: calc(75% - 10px);

    color: #1d1e1f;
    font-style: normal;

    background: #efefef;
}

.wuxDistinctSection input[type=number].wuxDistinctData,
.wuxDistinctSection input[type=number].wuxDistinctSubdata
{
    -moz-appearance: textfield;
    appearance: textfield;
}

/* .wuxDistinctSection .wuxDistinctSubdata
{
    position: relative;
    left: 20px;
    width: 30px;

    font-size: 10px;
    line-height: 10px;
    text-align: center;
    font-weight: normal;

    background: linear-gradient(to right, #86530f, #815822, #6e420a);
    border: 0px solid #000;
    border-width: 1px 1px 1px 0px;
} */

input[type=hidden].wuxErrorField-flag[value="1"] + .wuxDistinctData
{
    background: red;
}

/*========================================
    Interactive Elements
========================================*/

.wuxInteractiveBlock
{
    position: relative;
    display: block;
	width: 100%;
    min-width: 120px;

	min-height: 25px;
	margin: 0px 0px 5px 0px;
	padding: 0px 5px;

    border-bottom: 1px solid #d0d0d0;
    border-image: linear-gradient(to right, #A0A0A0FF 0%, #A0A0A000 80%, #A0A0A000 100%) 1;
}

.wuxInteractiveBlock.wuxSizeSmall
{
    min-width: 80px;
    padding: 0px;
}

.wuxInteractiveBlock .wuxInteractiveInnerBlock,
.wuxInteractiveBlock .wuxInteractiveContent,
.wuxInteractiveBlock .wuxInteractiveInnerExpandBlock,
.wuxInteractiveBlock .wuxInteractiveExpandingContent
{
    position: relative;
	height: 100%;
}

.wuxInteractiveBlock .wuxInteractiveInnerBlock,
.wuxInteractiveBlock .wuxInteractiveContent,
.wuxInteractiveBlock .wuxInteractiveExpandingContent
{
	display: block;
	width: 100%;
}

.wuxInteractiveBlock .wuxInteractiveExpandingContent
{
	display: none;
}

.wuxInteractiveExpandingBlock .wuxInteractiveInnerBlock
{
	display: inline-block;
	width: calc(100% - 30px);
}

.wuxInteractiveExpandingBlock .wuxInteractiveInnerExpandBlock
{
	display: inline-block;
	width: 25px;
}

.wuxInteractiveBlock .wuxHeader
{
	display: inline-block;
	width: auto;

	border: none;
	pointer-events: none;
}

.wuxInteractiveBlock .wuxInteractiveIcon,
.wuxInteractiveBlock .wuxInteractiveAuxIcon,
.wuxInteractiveBlock .wuxInteractiveExpandIcon,
.wuxInteractiveBlock .wuxInteractiveExpandAuxIcon
{
    width: 25px;
	height: 100%;
	margin-bottom: -2px;
    
    font-size: 16px;
    vertical-align: bottom;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
}

.wuxInteractiveBlock .wuxInteractiveIcon,
.wuxInteractiveBlock .wuxInteractiveExpandIcon
{
	display: none;
}

input[type=hidden].wuxInteractiveIcon-flag[value="on"] + .wuxInteractiveIcon,
.wuxInteractiveAuxIcon,
input[type=hidden].wuxInteractiveExpandIcon-flag[value="on"] + .wuxInteractiveExpandIcon,
.wuxInteractiveExpandAuxIcon
{
    display: inline-block;
    color: #DE9B72;
}

input[type=hidden].wuxInteractiveIcon-flag[value="on"] + .wuxInteractiveAuxIcon,
input[type=hidden].wuxInteractiveExpandIcon-flag[value="on"] + .wuxInteractiveExpandAuxIcon
{
    display: none;
}

input[type=hidden].wuxInteractiveIcon-flag[value="on"] + .wuxHeader
{
    color: #DE9B72;
}

.wuxInteractiveBlock .wuxInteractiveExpandingIcon
{
    font-family: pictos;
}

.wuxInteractiveBlock .wuxInteractiveElement
{
	border: none;
	pointer-events: none;
}

input[type="checkbox"].wuxInteractiveContent-flag,
input[type="checkbox"].wuxInteractiveExpandingContent-flag
{
    opacity: 0;    
    position: absolute;
	display: block;
    top: 0px;
	left: 0px;
	right: 0px;
    min-height: 25px;
    z-index: 100;
}

.wuxInteractiveContent-flag:hover + .wuxInteractiveContent
{
    background: #1d1e1f;
}

input[type=hidden].wuxInteractiveExpandingContent-flag[value="on"] + .wuxInteractiveExpandingContent
{
    display: block;
}

