/*========================================
  Global HTML
========================================*/

select 
{
    height: inherit;
    padding: 0px;
    margin: 0px;
}

input[type=number]
{
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.ui-dialog-content.ui-widget-content > p > strong + input {
    width: 100% !important; width: -moz-available !important; width: -webkit-fill-available !important; width: fill-available !important;
}


/*========================================
  Item Control
========================================*/

.repcontrol {
    min-height: 27px;
}

.repcontrol .btn {
    visibility: hidden;
    border: medium none;
    color: white !important;
    background: none;
    box-shadow: none;
}

.repcontrol .btn:focus {
    outline: 0;
}

.repcontrol .repcontrol_edit:after {
    content: '(';
    visibility: visible;
    font-family: pictos;
    background-color: #d0d0d0;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: black;
}

.editmode ~ .repcontrol .repcontrol_edit:after {
    content: ')';
}

.repcontrol .repcontrol_add:before {
    content: '&';
    visibility: visible;
    font-family: pictos;
    background-color: #d0d0d0;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: black;
}

.repcontrol .repcontrol_edit:hover:after,
.repcontrol .repcontrol_add:hover:before
{
    background-color: #EFEFEF;
}

.itemcontrol {
    z-index: 1000;
}

.itemcontrol .repcontrol_del,
.itemcontrol .repcontrol_move 
{
    font-size: 9px;
    margin-top: 0px;
    padding: 0px;
    height: 15px;
    width: 15px;

}

.itemcontrol .repcontrol_del
{
    background-color: red;
    color: white;
}

.wuxNoRepControl .repcontrol 
{
    display: none;
}

.wuxRepeatingFlexSection,
.wuxRepeatingFlexSection .repcontainer
{
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    align-content: flex-start;
}

.wuxRepeatingFlexSection .repcontainer > .repitem,
.wuxRepeatingItemsInline .repcontainer > .repitem 
{
    display: inline-block;
	flex: 1;
}


/*========================================
  Character Sheet Display Style
========================================*/

.wuxCharacterSheetDisplayStyle-Builder,
.wuxCharacterSheetDisplayStyle-Skills,
.wuxCharacterSheetDisplayStyle-Advancement,
.wuxCharacterSheetDisplayStyle-LevelUp,
.wuxCharacterSheetDisplayStyle-Techniques,
.wuxCharacterSheetDisplayStyle-Character,
.wuxCharacterSheetDisplayStyle-PartyManager
{
	display: none;
}

input[type=hidden].wuxCharacterSheetDisplayStyle-Flag[value="0"] ~ .wuxCharacterSheetDisplayStyle-Builder,
input[type=hidden].wuxCharacterSheetDisplayStyle-Flag[value="Skills"] ~ .wuxCharacterSheetDisplayStyle-Skills,
input[type=hidden].wuxCharacterSheetDisplayStyle-Flag[value="Advancement"] ~ .wuxCharacterSheetDisplayStyle-Advancement,
input[type=hidden].wuxCharacterSheetDisplayStyle-Flag[value="LevelUp"] ~ .wuxCharacterSheetDisplayStyle-LevelUp,
input[type=hidden].wuxCharacterSheetDisplayStyle-Flag[value="Techniques"] ~ .wuxCharacterSheetDisplayStyle-Techniques,
input[type=hidden].wuxCharacterSheetDisplayStyle-Flag[value="Character"] ~ .wuxCharacterSheetDisplayStyle-Character,
input[type=hidden].wuxCharacterSheetDisplayStyle-Flag[value="PartyManager"] ~ .wuxCharacterSheetDisplayStyle-PartyManager
{
	display: block;
}


/*========================================
  Master Layout
========================================*/

.wuxCharacterSheet
{
    position: absolute;
    top: 20px;
    left: 0px;
    width: 98%;
    min-width: 250px;
    max-width: 1065px;
    padding-bottom: 30px;
    margin: 0px;

	background: #3A3D3E;
    border: 0px black solid;
    border-radius: 10px;
}

.wuxHiddenFields
{
    display: none;
}

.wuxInnerHeader
{
    pointer-events: none;
}

.wumMainSheet 
{
    display: flex;
    /* flex-flow: row;
    align-content: flex-start; */
}

/*========================================
  Segments
========================================*/

.wuxMainContent,
.wuxMainCharacterContent
{
    display: inline-block;
    flex: 5;
}

.wuxMainCharacterContent
{
    width: calc(100% - 90px);
}

.wuxSegment
{
	position: relative;
}

/*========================================
  Layouts
========================================*/

.wuxStickyHeader,
.wuxSheetHeader
{
    position: relative;
    width: 100%;
    flex-basis: 100%;
    margin: 0px;
    padding: 0px;
}

.wuxLayoutItem,
.wuxLargeLayoutItem,
.wuxSmallLayoutItem
{
    position: relative;
    display: inline-block;
    height: auto;
    vertical-align: top;
}

.wuxLayoutItem
{
    min-width: 220px;
    flex: 2;
}

.wuxLargeLayoutItem
{
    min-width: 220px;
    flex: 4;
}

.wuxSmallLayoutItem
{
    min-width: 120px;
    flex: 1;
}

/*========================================
  Sticky Panels
========================================*/

.wuxFloatHeader,
.wuxFloatSidebar
{
    position: sticky;
    left: 0px;
    padding-bottom: 5px;

    background: linear-gradient(to bottom, #3A3D3EFF 85%, #3A3D3E00 100%);
}

.wuxFloatHeader
{
    width: 100%;
    flex-basis: 100%;
    top: 0px;
    z-index: 9999;
}

.wuxFloatSidebar
{
    float: left;
    flex: 1;
    top: 50px;

    min-width: 80px;
    max-width: 80px;
    margin-right: 10px;
	padding: 0px;

    /* background: #FFF; */
    z-index: 9998;
}

/*========================================
  Tabs
========================================*/

.wuxTab
{
    position: relative;
    width: 100%;

    display: flex;
    flex-flow: wrap row;
    align-content: flex-start;
}

.wuxTabHeader
{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: calc(100% - 15px);
    height: 22px;
    padding: 3px;
    padding-left: 6px;
    z-index: 1;

    color: #f4f6f8;
    font-family: "Candal";
    font-size: 16px;
    line-height: 22px;
    vertical-align: bottom;
    text-transform: capitalize;

	background: #1d1e1f;
    border-bottom: 3px solid;
    border-color: transparent transparent #DE9B72 transparent;
    border-radius: 10px 10px 0px 0px;
}

.wuxTab-flag
{
    opacity: 0;    
    position: absolute;
    top: 0px;
    right: -3px;
    left: 0px;
    width: 18px;
    min-height: 25px;
    z-index: 100;
}


.wuxTab-flag:hover + .wuxTabHeader
{
    background: #deaf72;
}

.wuxTab-flag:not(:checked) ~ .wuxTab
{
    display: none;
}

/*========================================
  Sections
========================================*/

.wuxSheetHeader
{
    margin-bottom: 5px;
}
.wuxSheetHeader span
{
    display: inline-block;
    width: 240px;

    color: #f4f6f8;
    font-family: "Candal";
    font-size: 14px;
    text-transform: capitalize;

    background: linear-gradient(to bottom, #f4f6f8, #cacbcf, #535353);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #FFF;
    border-image: linear-gradient(to right, #ffffffff 0%, #ffffff00 70%) 1;
}

.wuxSectionBlock
{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.wuxSectionHeader
{
    position: relative;
    display: inline-block;
    min-width: 100px;
    width: 100%;
    max-width: 210px;
    height: 14px;
    padding: 3px;
    padding-left: 6px;
    z-index: 1;

    color: #f4f6f8;
    font-family: "Candal";
    font-size: 13px;
    line-height: 14px;
    text-transform: capitalize;

	background: #512800;
    background: linear-gradient(320deg, #512800 0%, #4b1e00 20%, #512800 50%, #4b1e00 80%, #512800 100%);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px 10px 0px 0px;
    border-color: #000 #000 transparent #000;
}

input[type=checkbox].wuxSectionContent-flag:not(:checked) + .wuxSectionHeader
{
    color: #1d1e1f;
    background: #f4f6f8;
}

.wuxSectionContent-flag:hover + .wuxSectionHeader
{
    background: #86530f;
    background: linear-gradient(to right, #86530f, #815822, #6e420a);
}

.wuxSectionExpandIcon
{
	display: none;
}

input[type=hidden].wuxSectionExpandIcon-flag[value="on"] + .wuxSectionExpandIcon,
.wuxSectionExpandAuxIcon
{
    display: inline-block;
}

input[type=hidden].wuxSectionExpandIcon-flag[value="on"] + .wuxSectionExpandAuxIcon
{
    display: none;
}

.wuxSectionHeaderFooter
{
    position: relative;
    display: block;
    width: calc(100% - 5px);
	height: 0px;
	margin-bottom: 3px;

	border-bottom: 3px solid #a6a6a6;
}

.wuxSectionContent,
.wuxSectionContentCollapsed
{
    position: relative;
    top: -3px;
    left: 0px;
    display: inherit;

    width: calc(100% - 18px);
    padding: 5px;

	background: #1d1e1f;
    background-image: linear-gradient(to bottom, #3A3D3E 0%, #1d1e1f 30%, #3A3D3E 100%);
    border-style: solid;
    border-width: 0px 3px 3px 0px;
    border-color: #a6a6a6 #a6a6a6 #a6a6a6 transparent;
    border-image: linear-gradient(to right, #a6a6a600 0%, #a6a6a600 35%, #a6a6a6FF 40%) 1;
    border-radius: 0px 0px 5px 0px;
}

.wuxSectionContentCollapsed
{
    line-height: 15px;
    border-width: 0px 3px 0px 0px;
}

.wuxLargeLayoutItem .wuxSectionContent,
.wuxLargeLayoutItem .wuxSectionContentCollapsed
{
    border-image: linear-gradient(to right, #a6a6a600 0%, #a6a6a600 40%, #a6a6a6FF 45%) 1;
}

.wuxSectionContentSet 
{
    position: relative;
    width: 100%;
}

/*========================================
    Section Formatting
========================================*/

.wuxSectionBlock .wuxFieldSet,
.wuxSectionBlock .wuxSubSection
{
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    margin: 0px;
}

.wuxSectionBlock .wuxSubSection
{
    margin-left: 10px;
}

.wuxSectionBlock .wuxRow,
.wuxSectionBlock .wuxTabRow,
.wuxSectionBlock .wuxFormRow,
.wuxSectionBlock .wuxMultiRow,
.wuxSectionBlock .wuxActionRow,
.wuxSectionBlock .wuxMultiActionRow
{
    position: relative;
    display: block;
    padding: 2px 0px;
    width: 100%;
    height: auto;

    font-size: 11px;
    line-height: 14px;
}

.wuxSectionBlock .wuxRow,
.wuxSectionBlock .wuxActionRow
{
    height: auto;
}

.wuxSectionBlock .wuxTabRow
{
    height: 14px;
}

.wuxSectionBlock .wuxFormRow
{
    display: inline-block;
    width: 114px;
    vertical-align: top;
}

.wuxSectionBlock .wuxFormRow.wuxSizeLarge
{
    width: 240px;
}

.wuxSectionBlock .wuxActionRow input[type="checkbox"],
.wuxSectionBlock .wuxMultiActionRow input[type="checkbox"]
{
    display: inline-block;
    width: 12px;
    height: 12px;

    appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;

    font-size: 12px;

    border: 1px solid #666;
    border-radius: 3px;
}

.wuxSectionBlock .wuxActionRow button,
.wuxSectionBlock .wuxMultiActionRow button
{
    border: none;
    font-size: 12px;
}

.wuxSectionBlock .wuxSubCategory
{
    position: relative;
    display: block;
    height: auto;
    width: auto;
    margin: 3px 0px 0px 10px;

    color: #f4f6f8;
    font-size: 9px;
    line-height: 11px;

    border-bottom: 1px solid #FFF;
    border-image: linear-gradient(to right, #ffffffff 0%, #ffffff00 40%) 1;
}

/*========================================
    Text Inputs and Labels
========================================*/

.wuxHeader
{
    display: inline-block;
    width: 100%;
	padding-top: 5px;
    
    color: #DE9B72;
    font-size: 14px;
    font-weight: bold;
}

.wuxSectionBlock .wuxHeader
{
    border-bottom: 2px solid #DE9B72;
    border-image: linear-gradient(to right, #DE9B72ff 0%, #DE9B72ff 50%, #DE9B7200 100%) 1;
}

.wuxHeader2,
.wuxData
{
    display: inline-block;
    
    color: #d0d0d0;
    font-size: 12px;
    font-weight: bold;
}

.wuxHeader2
{
	padding-top: 5px;
    width: 100%;
}

.wuxData
{
    width: auto;
}

.wuxSectionBlock .wuxHeader2
{
    border-bottom: 1px solid #d0d0d0;
    border-image: linear-gradient(to right, #A0A0A0 0%, #A0A0A0 50%, #A0A0A0 100%) 1;
}

.wuxSubheader
{
    display: inline;
    margin-top: -3px;
    vertical-align: bottom;

    font-style: italic;
    font-size: 10px;
    color: #A0A0A0;
}

.wuxDescription
{
    color: #f4f6f8;
    font-size: 12px;
    line-height: 13px;
    word-break: break-word;
}

span.wuxDescription,
.wuxDescription p
{
    white-space: pre-line;
}

div.wuxDescription .wuxTitle
{
    display: inline-block;
    width: 40px;

    font-weight: bold;
}

.wuxInput
{
    display: inline-block;
    width: 95%;
    height: auto;
    margin: 0px -4px 0px 0px;
    padding: 3px 4px 3px 5px;
    vertical-align: bottom;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	background: #cacbcf;
}

