/*========================================
  Character Sheet Display Style
========================================*/

.wuxPageDisplay-Origin,
.wuxPageDisplay-Builder,
.wuxPageDisplay-Training,
.wuxPageDisplay-Advancement,
.wuxPageDisplay-Core,
.wuxPageDisplay-Skills,
.wuxPageDisplay-Knowledge,
.wuxPageDisplay-Jobs,
.wuxPageDisplay-Attributes,
.wuxPageDisplay-LevelUp,
.wuxPageDisplay-Techniques,
.wuxPageDisplay-Character,
.wuxPageDisplay-Overview,
.wuxPageDisplay-Details,
.wuxPageDisplay-Chat,
.wuxPageDisplay-Options,
.wuxPageDisplay-Gear,
.wuxPageDisplay-Actions,
.wuxPageDisplay-PartyManager
{
	display: none;
}

input[type=hidden].wuxPageDisplay-Flag[value="Origin"] ~ .wuxPageDisplay-Origin,
input[type=hidden].wuxPageDisplay-Flag[value="Builder"] ~ .wuxPageDisplay-Builder,
input[type=hidden].wuxPageDisplay-Flag[value="Training"] ~ .wuxPageDisplay-Training,
input[type=hidden].wuxPageDisplay-Flag[value="Advancement"] ~ .wuxPageDisplay-Advancement,
input[type=hidden].wuxPageDisplay-Flag[value="Core"] ~ .wuxPageDisplay-Core,
input[type=hidden].wuxPageDisplay-Flag[value="Skills"] ~ .wuxPageDisplay-Skills,
input[type=hidden].wuxPageDisplay-Flag[value="Knowledge"] ~ .wuxPageDisplay-Knowledge,
input[type=hidden].wuxPageDisplay-Flag[value="Jobs"] ~ .wuxPageDisplay-Jobs,
input[type=hidden].wuxPageDisplay-Flag[value="Attributes"] ~ .wuxPageDisplay-Attributes,
input[type=hidden].wuxPageDisplay-Flag[value="LevelUp"] ~ .wuxPageDisplay-LevelUp,
input[type=hidden].wuxPageDisplay-Flag[value="Techniques"] ~ .wuxPageDisplay-Techniques,
input[type=hidden].wuxPageDisplay-Flag[value="Character"] ~ .wuxPageDisplay-Character,
input[type=hidden].wuxPageDisplay-Flag[value="Overview"] ~ .wuxPageDisplay-Overview,
input[type=hidden].wuxPageDisplay-Flag[value="Details"] ~ .wuxPageDisplay-Details,
input[type=hidden].wuxPageDisplay-Flag[value="Chat"] ~ .wuxPageDisplay-Chat,
input[type=hidden].wuxPageDisplay-Flag[value="Options"] ~ .wuxPageDisplay-Options,
input[type=hidden].wuxPageDisplay-Flag[value="Gear"] ~ .wuxPageDisplay-Gear,
input[type=hidden].wuxPageDisplay-Flag[value="Actions"] ~ .wuxPageDisplay-Actions,
input[type=hidden].wuxPageDisplay-Flag[value="PartyManager"] ~ .wuxPageDisplay-PartyManager
{
	display: block;
}


/*========================================
  Sidebar
========================================*/

.wuxSheetSidebar
{
    position: relative;
    display: block;
}

/*========================================
  Sticky Header
========================================*/

.wuxStickyHeader 
{
    width: calc(100% - 15px);
    min-height: 30px;
    padding: 0px 5px 5px 5px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: wrap row;
    align-content: flex-start;

	background: #1d1e1f;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px 10px 0px 0px;
    border-color: #000 #000 #DE9B72 #000;
}

.wuxStickyHeader .wuxHeader,
.wuxStickyHeader .wuxHeader2
{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
}

.wuxStickyHeader .wuxHeader2
{
    height: 20px;
}

.wuxStickyHeader .wuxHeader2 span
{
    font-family: "Candal";
    font-size: 12px;
    text-overflow: clip;
    color: #f4f6f8;
}

.wuxStickyHeader .wuxHeader
{
    height: 18px;
    margin-bottom: 5px;

    color: #f4f6f8;
    font-size: 14px;
    text-transform: capitalize;

    font-size: 16px;
    background: linear-gradient(to bottom, #f4f6f8, #cacbcf, #535353);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wuxStickyHeader .wuxHeader input
{
    font-family: "Candal";
    text-overflow: clip;
    border: none;

    font-size: 16px;
    background: linear-gradient(to bottom, #f4f6f8, #cacbcf, #535353);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wuxStickyHeader .wuxHeader input[type=text]::placeholder
{
    color: #686868;
}

.wuxStickyHeader .wuxHeader input.wuxSizeSmall
{
    width: 25px;
}

.wuxStickySideTab
{
    float: right;

    margin-top: 10px;
    width: auto;
}

.wuxStickyHeader .wuxHeader input
{
    font-size: 16px;
    background: linear-gradient(to bottom, #f4f6f8, #cacbcf, #535353);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wuxStickyHeader .wuxHeader input[type=text]::placeholder
{
    color: #686868;
}

/*========================================
    Info Button
========================================*/

.wuxInfoButton {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
}

.wuxInfoButton input[type=radio],
.wuxInfoButton input[type=checkbox] 
{
    position: absolute;
    top: 0px;
	left: 0px;
	right: 0px;
    width: 100%;
    height: 100%;

    z-index: 9999;

    opacity: 0;
}

.wuxInfoButton span, 
.wuxStickyHeader .wuxInfoButton span 
{
    display: block;
    width: 100%;
    height: 100%;

    font-family: pictos;
    font-size: 18px;
    color: #f4f6f8;

    background: none;
    border: none;
    box-shadow: none;
}

.wuxInfoButton input[type=radio]:checked + span,
.wuxInfoButton input[type=checkbox]:checked + span
{
    color: #5b5b5b;
}

.wuxInfoButton input[type=radio]:hover + span,
.wuxInfoButton input[type=checkbox]:hover + span
{
    color: #979898;
}

.wuxInfoContent
{
    position: relative;
    width: 94%;
    margin-left: 5%;

    color: #3e3e3e;
    font-size: 12px;
    text-align: left;

    background: #fff;
    border-radius: 6px;
    border: 2px solid black;
}

.wuxInfoContent .wuxHeader2
{
    color: #3e3e3e;
    background: none;
    font-size: 14px;
    margin: 2px 10px;
}

.wuxStickyHeader .wuxInfoContent .wuxDescription
{
    color: #3e3e3e;
    margin: 2px 10px;
    background: #fff;
}

/*========================================
    Emote Post
========================================*/

.wuxSectionBlock.wuxChatNotes textarea
{
    width: calc(100% - 10px);
    height: 40px;
    margin-bottom: 0px;

    color: #1d1e1f;
    font-size: 11px;
    line-height: 15px;
}

.wuxEmotePostGroup .display
{
    position: relative;
    padding: 5px;
    margin-bottom: 5px;

	background: #5A5D5E;
    border-color: #a6a6a6;
    border-image: linear-gradient(170deg, #a6a6a600 60%, #a6a6a6FF 100%) 1;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
}

.wuxEmotePostGroup textarea.wuxFormInput
{
    width: 215px;
    height: 80px;

    font-size: 10px;
}

.wuxEmotePostGroup .repcontainer > .repitem 
{
    display: inline-block;
}

.wuxEmotePostGroup div.wuxEmoteButton,
.wuxEmotePostGroup button.wuxEmoteButton[type=roll]
{
    position: relative;
    display: block; 
    height: 14px; 
    margin: 0px; 
    margin-right: 5px; 
    width: calc(100% - 10px);

    text-shadow: none;
}

.wuxEmotePostGroup button.wuxEmoteButton[type=roll]
{
    background: none;
    background-image: linear-gradient(320deg, #512800 0%, #4b1e00 20%, #512800 50%, #4b1e00 80%, #512800 100%);
    border-width: 0px;
    border-radius: 5px;
}

.wuxEmotePostGroup div.wuxEmoteButton span,
.wuxEmotePostGroup button.wuxEmoteButton[type=roll] span
{
    position: relative;
    bottom: 5px;
    left: -6px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0px 6px;

    border: 0px;
}

.wuxEmotePostGroup button.wuxEmoteButton[type=roll] span
{
    color: #f4f6f8;
    font-weight: normal;
    font-size: 10px;
}

.wuxEmotePostGroup button.wuxEmoteButton[type=roll]::before
{
    content: "" !important;
}

.wuxEmoteDisplayStyleList,
.wuxEmoteDisplayStyleRecast,
.wuxEmoteDisplayStyleField-flag
{
    display: none;
}

input[type=hidden].wuxEmoteDisplayStyleField-flag[value="List"] + .wuxEmoteDisplayStyleList,
input[type=hidden].wuxEmoteDisplayStyleField-flag[value="Recast"] + .wuxEmoteDisplayStyleRecast
{
    display: inherit;
}

/*========================================
    Techniques
========================================*/

.wuxFeatureGroup,
.wuxFeatureGroupWithAugments
{
    position: relative;
    display: inline-block;
    height: auto;
    vertical-align: top;
    min-width: 350px;
    width: 375px;
    flex: 1;
    margin-bottom: 10px;
}

.wuxFeatureGroupWithAugments
{
    height: min-content;

    background: #1d1e1f;
    background-image: linear-gradient(to bottom, #3A3D3E 0%, #1d1e1f 30%, #3A3D3E 100%);
    border-style: solid;
    border-width: 0px 0px 3px 3px;
    border-color: #a6a6a6 #a6a6a6 #a6a6a6 transparent;
    border-image: linear-gradient(to left, #a6a6a600 0%, #a6a6a600 35%, #a6a6a6FF 40%) 1;
    border-radius: 0px 0px 0px 5px;
}

.wuxFeature,
.sheet-rolltemplate-technique,
.sheet-rolltemplate-usetechnique,
.wuxFeatureTable
{
    position: relative;
    display: inline-block;
    min-width: 350px; 
    max-width: 500px; 
    width: calc(100% - 10px);
    height: min-content;
}
.sheet-rolltemplate-technique,
.sheet-rolltemplate-usetechnique
{
    line-height: 12px;
}

.wuxFeature,
.sheet-rolltemplate-technique,
.sheet-rolltemplate-usetechnique
{
    font-size: 12px;

    border: 3px solid black; 
    background: #cacbcf;
}

.sheet-rolltemplate-technique,
.sheet-rolltemplate-usetechnique
{
    min-width: 200px; 
}

input[type=hidden].wuxFeature-flag[value="1"] + .wuxFeature,
input[type=hidden].wuxFeature-flag[value="on"] + .wuxFeature
{
    border: 3px solid #ba7417;
}

input[type=hidden].wuxFilterFeature-flag[value="1"] + .wuxFeature 
{
    display: none;
}

.wuxFeatureHeader,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeader,
.wuxFeatureTableHeader
{
    position: relative;
    display: block; 
    width: calc(100% - 10px);
    padding: 0px 0px 5px 10px; 
}

.wuxFeatureHeader,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeader
{
    background: #c0e7d5;
    border-bottom: 1px solid #efefef; 
}

input.wuxFeatureHeader-flag[value="Quick"] + .wuxFeatureHeader,
.wuxFeatureHeader-Quick,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader-Quick
{
    background-color: #fbe5e5;
}

input.wuxFeatureHeader-flag[value="Full"] + .wuxFeatureHeader,
.wuxFeatureHeader-Full,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader-Full
{
    background-color: #d7a0a0;
}

input.wuxFeatureHeader-flag[value="Reaction"] + .wuxFeatureHeader,
.wuxFeatureHeader-Reaction,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader-Reaction
{
    background-color: #e5eafb;
}

input.wuxFeatureHeader-flag[value="Swift"] + .wuxFeatureHeader,
.wuxFeatureHeader-Swift,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader-Swift
{
    background-color: #e5fbf1;
}

input.wuxFeatureHeader-flag[value="Free"] + .wuxFeatureHeader,
.wuxFeatureHeader-Free,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader-Free
{
    background-color: #f0e5fb;
}

input.wuxFeatureHeader-flag[value="Passive"] + .wuxFeatureHeader,
.wuxFeatureHeader-Passive,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader-Passive
{
    background-color: #f1f1f1;
}

input.wuxFeatureHeader-flag[value="Augment"] + .wuxFeatureHeader,
.wuxFeatureHeader-Augment,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader-Augment
{
    background-color: #acacac;
}

input.wuxFeatureHeader-flag[value="Equipment"] + .wuxFeatureHeader,
.wuxFeatureHeader-Equipment,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeader-Equipment
{
    background-color: #ad8ac2;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeader
{
    background: #1d1e1f;
    color: #FFF;
}

.wuxFeatureType,
.sheet-rolltemplate-technique .sheet-wuxFeatureType
{
    position: absolute;
    display: inline-block;
    right: 0px;
    width: 90px; 
    padding: 5px 0px; 

    vertical-align: top; 
    text-align: center; 
    
    color: #FFF; 
    
    background: #666;
    border: 0px solid #000;
    border-width: 0px 0px 3px 3px;
}

input.wuxFeatureType-flag[value="Active"] + .wuxFeatureType,
.wuxFeatureType-Active,
.sheet-rolltemplate-technique .sheet-wuxFeatureType-Active
{
    background-color: #b60003;
}

input.wuxFeatureType-flag[value="Passive"] + .wuxFeatureType,
.wuxFeatureType-Passive,
.sheet-rolltemplate-technique .sheet-wuxFeatureType-Passive
{
    background-color: #4db600;
}

input.wuxFeatureType-flag[value="Support"] + .wuxFeatureType,
.wuxFeatureType-Support,
.sheet-rolltemplate-technique .sheet-wuxFeatureType-Support
{
    background-color: #00b0b6;
}

input.wuxFeatureType-flag[value="Job"] + .wuxFeatureType,
.wuxFeatureType-Job,
.sheet-rolltemplate-technique .sheet-wuxFeatureType-Job
{
    background-color: #7800b6;
}

input.wuxFeatureType-flag[value="Standard"] + .wuxFeatureType,
.wuxFeatureType-Standard,
.sheet-rolltemplate-technique .sheet-wuxFeatureType-Standard
{
    background-color: #b66f00;
}

.wuxFeatureType .wuxFeatureTypeHeader,
.sheet-rolltemplate-technique .sheet-wuxFeatureType .sheet-wuxFeatureTypeHeader
{
    position: relative;
    display: block;

    font-size: 10px; 
    font-weight: bold;
}

.wuxFeatureType .wuxFeatureTypeFooter,
.sheet-rolltemplate-technique .sheet-wuxFeatureType .sheet-wuxFeatureTypeFooter
{
    position: relative;
    display: block;
    font-size: 6px;
}

.wuxFeatureHeaderInteractBlock,
.wuxFeatureHeaderInteractInnerBlock,
.wuxFeatureTableHeaderInteractBlock 
{
    position: relative;
	display: inline-block;
	width: 25px;
	height: 20px;
}

.wuxFeatureTableHeaderInteractBlock span
{
    color: #d0d0d0;
    font-size: 8px;
    text-align: center;
}

.wuxFeatureHeaderInteractiveIcon,
.wuxFeatureHeaderInteractivePictosIcon,
.wuxFeatureHeaderInteractiveAuxIcon
{
    position: relative;
    bottom: 5px;

    color: #000;
    font-size: 20px;
}

input[type=number].wuxFeatureHeaderInteractiveAuxIcon
{
    max-width: 25px;
    margin-left: -5px;

    font-size: 12px;

    background: #FFF;
}

.wuxFeatureHeaderInteractiveIcon
{
	display: none;
}

input[type=hidden].wuxFeatureHeaderInteractiveIcon-flag[value="on"] + .wuxFeatureHeaderInteractiveIcon,
input[type=hidden].wuxFeatureHeaderInteractiveIcon-flag[value="1"] + .wuxFeatureHeaderInteractiveIcon,
.wuxFeatureHeaderInteractiveAuxIcon
{
    display: inline-block;
}

input[type=hidden].wuxFeatureHeaderInteractiveIcon-flag[value="on"] + .wuxFeatureHeaderInteractiveAuxIcon,
input[type=hidden].wuxFeatureHeaderInteractiveIcon-flag[value="1"] + .wuxFeatureHeaderInteractiveAuxIcon
{
    display: none;
}

.wuxFeatureHeaderInteractivePictosIcon
{
    font-family: pictos;
    color: #FFF;
}

input[type=hidden].wuxFeatureHeaderInteractivePictosIcon-flag:not([value="0"]) + .wuxFeatureHeaderInteractivePictosIcon
{
    color: #000;
}

button[type=roll].wuxFeatureHeaderInteractiveButton
{
    position: relative;
    left: -5px;
    margin: 0px;
    padding: 0px;

    font-family: pictos;
    font-size: 20px;
    color: #000;

    background: none;
    border: none;
    box-shadow: none;
}

button[type=roll].wuxFeatureHeaderInteractiveButton:hover
{
    color: #FFF;
}

button[type=roll].wuxFeatureHeaderInteractiveButton::before
{
    content: "" !important;
}

.wuxFeatureHeaderDisplayBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeaderDisplayBlock,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeaderDisplayBlock
{
    position: relative;
    display:inline-block; 
    width: calc(100% - 115px);
}

.wuxFeatureHeaderName,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeaderName,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeaderName
{
    position: relative;
    display: block; 

    width: 100%;
    margin-top: 5px; 
    
    font-size: 13px; 
    font-weight: bold;
}

.wuxFeatureHeaderInfo,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeaderInfo,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeaderInfo
{
    position: relative;
    display: block; 

    font-size: 11px;
}

.wuxFeatureHeaderInfoType,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeaderInfoType,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeaderInfoType
{
    position: relative;
    font-weight: bold;
}

.wuxFeatureHeaderInfoReq,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeaderInfoReq,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeaderInfoReq,
.wuxFeatureHeaderInfoTrigger,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeaderInfoTrigger,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeaderInfoTrigger
{
    position: relative;
    display: block; 
    padding: 5px 10px; 

    font-size: 11px;
}

.wuxFeatureHeaderInfoReq,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeaderInfoReq,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeaderInfoReq
{
    background: #e77a7a;
}

.wuxFeatureHeaderInfoTrigger,
.sheet-rolltemplate-technique .sheet-wuxFeatureHeaderInfoTrigger,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureHeaderInfoTrigger
{
    background: #7aa9e7;
}

.wuxFeatureExpandingContent,
.sheet-rolltemplate-technique .sheet-wuxFeatureExpandingContent,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureExpandingContent
{
    position: relative;
    display: none;
}

input[type="checkbox"].wuxFeatureHeaderInteractBlock-flag
{
    opacity: 0;    
    position: absolute;
	display: block;
    pointer-events: inherit;
    top: 0px;
	left: 0px;
	right: 0px;
    min-height: 25px;
    z-index: 100;
}

input[type=hidden].wuxFeatureHeaderInteractBlock-flag[value="on"] + .wuxFeatureExpandingContent
{
    display: block;
}

input[type=hidden].wuxFeatureHeaderInteractiveIcon-flag:not([value="0"]) + input.wuxFeatureHeaderInteractBlock-flag
{
    pointer-events: none;
}

.wuxFeatureTypeEquipSlot-Weapon, 
.wuxFeatureTypeEquipSlot-Chest, 
.wuxFeatureTypeEquipSlot-Armor, 
.wuxFeatureTypeEquipSlot-Head, 
.wuxFeatureTypeEquipSlot-Arms, 
.wuxFeatureTypeEquipSlot-Legs
{
    display: none;
}

input.wuxFeatureTypeEquipSlot-flag[value="Weapon"] + .wuxFeatureTypeEquipSlot-Weapon, 
input.wuxFeatureTypeEquipSlot-flag[value="Chest Armor"] + .wuxFeatureTypeEquipSlot-Chest, 
input.wuxFeatureTypeEquipSlot-flag[value="Head Armor"] + .wuxFeatureTypeEquipSlot-Head, 
input.wuxFeatureTypeEquipSlot-flag[value="Arms Armor"] + .wuxFeatureTypeEquipSlot-Arms, 
input.wuxFeatureTypeEquipSlot-flag[value="Legs Armor"] + .wuxFeatureTypeEquipSlot-Legs, 
input.wuxFeatureTypeEquipSlot-flag[value="Chest Armor"] + .wuxFeatureTypeEquipSlot-Armor, 
input.wuxFeatureTypeEquipSlot-flag[value="Head Armor"] + .wuxFeatureTypeEquipSlot-Armor, 
input.wuxFeatureTypeEquipSlot-flag[value="Arms Armor"] + .wuxFeatureTypeEquipSlot-Armor, 
input.wuxFeatureTypeEquipSlot-flag[value="Legs Armor"] + .wuxFeatureTypeEquipSlot-Armor
{
    display: inline-block;
}

.wuxFeatureFunctionBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureFunctionBlock,
.wuxFeatureEffectsBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureEffectsBlock
{
    position: relative;
    display: block;

    width: calc(100% - 22px);
    padding: 5px 10px; 
    
    line-height: 14px; 
    font-size: 11px; 
    
    border-bottom: 1px solid #c6c6c6; 
}

.wuxFeatureFunctionBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureFunctionBlock
{
    background: #fbf9e5;
}

.wuxFeatureEffectsBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureEffectsBlock
{
    background: #fdfbde;
}

.wuxFeatureFunctionBlock .wuxFeatureFunctionBlockRow,
.sheet-rolltemplate-technique .sheet-wuxFeatureFunctionBlock .sheet-wuxFeatureFunctionBlockRow,
.wuxFeatureFunctionBlock .wuxFeatureFunctionBlockFlavorText,
.sheet-rolltemplate-technique .sheet-wuxFeatureFunctionBlock .sheet-wuxFeatureFunctionBlockFlavorText
{
    position: relative;
    display: block;
}

.wuxFeatureFunctionBlock .wuxFeatureFunctionBlockFlavorText,
.sheet-rolltemplate-technique .sheet-wuxFeatureFunctionBlock .sheet-wuxFeatureFunctionBlockFlavorText
{
    font-style: italic;
}

.wuxFeatureCheckHeader,
.sheet-rolltemplate-technique .sheet-wuxFeatureCheckHeader,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureCheckHeader
{
    position: relative;
    display: block; 
    margin: 5px 0px;

    font-size: 11px;
    font-weight: bold;
}

.wuxFeatureCheckBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureCheckBlock,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureCheckBlock,
.wuxFeatureAutoBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureAutoBlock,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureAutoBlock
{
    position: relative;
    width: calc(100% - 30px);
    padding: 5px 5px; 
    margin: 0px 10px; 
    
    line-height: 14px; 
    font-size: 11px; 
    border: 1px solid black; 
}

.wuxFeatureCheckBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureCheckBlock,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureCheckBlock
{
    background: #e8c5c5;
}

.wuxFeatureAutoBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureAutoBlock,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureAutoBlock
{
    background: #e8e0c5;
}

.wuxFeatureCheckBlock .wuxFeatureCheckBlockRow,
.sheet-rolltemplate-technique .sheet-wuxFeatureCheckBlock .sheet-wuxFeatureCheckBlockRow,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureCheckBlock .sheet-wuxFeatureCheckBlockRow,
.wuxFeatureCheckBlock .wuxFeatureCheckBlockRowHeader,
.sheet-rolltemplate-technique .sheet-wuxFeatureCheckBlock .sheet-wuxFeatureCheckBlockRowHeader,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureCheckBlock .sheet-wuxFeatureCheckBlockRowHeader
{
    position: relative;
    display: inline-block;
    line-height: normal;
}

.wuxFeatureCheckBlock .wuxFeatureCheckBlockRow,
.sheet-rolltemplate-technique .sheet-wuxFeatureCheckBlock .sheet-wuxFeatureCheckBlockRow,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureCheckBlock .sheet-wuxFeatureCheckBlockRow
{
    width: calc(100% - 22px);
    white-space: pre-line;
    word-break: break-word;
}

.wuxFeatureCheckBlock .wuxFeatureCheckBlockRowHeader,
.sheet-rolltemplate-technique .sheet-wuxFeatureCheckBlock .sheet-wuxFeatureCheckBlockRowHeader,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureCheckBlock .sheet-wuxFeatureCheckBlockRowHeader
{
    font-weight: bold;
}

.sheet-rolltemplate-usetechnique .sheet-wuxFeatureRollData
{
    display: none;
    padding: 0px 3px;
}

.sheet-rolltemplate-usetechnique .sheet-wuxFeatureRollData
{
    display: inline-block;
}

.sheet-rolltemplate-usetechnique .sheet-wuxFeatureRollValue
{
    display: inline-block;
    font-size: 11px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding: 1px 3px;

    color: #000;
    font-weight: bold;

    background: #959ca0;
}

.sheet-rolltemplate-usetechnique .sheet-wuxFeatureRollData .sheet-wuxFeatureRollDetails
{
    position: absolute;
    top: 18px;
    left: 0px;
    width: 240px;
    padding: 5px;
    z-index: 1000;

    color: #3e3e3e;
    font-size: 11px;
    text-align: center;

    visibility: hidden;
    background: #fff;
    border-radius: 6px;
    border: 2px solid black;
  }
  
  .sheet-rolltemplate-usetechnique .sheet-wuxFeatureRollData:hover .sheet-wuxFeatureRollDetails
  {
    visibility: visible;
  }

.wuxFeatureDescriptionBlock,
.sheet-rolltemplate-technique .sheet-wuxFeatureDescriptionBlock,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureDescriptionBlock,
.wuxFeatureEditBlock
{
    position: relative;
    display: block;
    width: calc(100% - 20px);
    padding: 5px 10px; 

    font-size: 11px;
}

.wuxFeatureDescriptionBlock .wuxFeatureDescriptionBlockDesc,
.sheet-rolltemplate-technique .sheet-wuxFeatureDescriptionBlock .sheet-wuxFeatureDescriptionBlockDesc,
.sheet-rolltemplate-usetechnique .sheet-wuxFeatureDescriptionBlock .sheet-wuxFeatureDescriptionBlockDesc
{
    display: inline-block;
    white-space: pre-line;
    word-break: break-word;
}

.wuxFeatureEditBlock
{
    background-color: #1d1e1f;
}

/*========================================
   Traits
========================================*/

.wuxTrait,
.sheet-rolltemplate-technique .sheet-wuxTrait,
.sheet-rolltemplate-usetechnique .sheet-wuxTrait
{
    display: none;
    padding: 0px 3px;
}

input[type=hidden].wuxHiddenField-flag:not([value="0"]) + .wuxTrait,
.wuxShownTraits .wuxTrait,
.sheet-rolltemplate-technique .sheet-wuxTrait,
.sheet-rolltemplate-usetechnique .sheet-wuxTrait
{
    display: inline-block;
}

.wuxTraitText,
.sheet-rolltemplate-technique .sheet-wuxTraitText,
.sheet-rolltemplate-usetechnique .sheet-wuxTraitText
{
    font-size: 11px;
    color: #0000FF;
    padding-bottom: 0px;
    margin-bottom: 0px;

    text-decoration: underline dotted;
}

.sheet-rolltemplate-usetechnique .sheet-wuxTraitText
{
    color: #5db8f8;
}

/*========================================
   Tooltip
========================================*/

.wuxTooltip,
.sheet-rolltemplate-technique .sheet-wuxTooltip,
.sheet-rolltemplate-usetechnique .sheet-wuxTooltip
{
    position: relative;
}

.wuxTooltipText,
.sheet-rolltemplate-technique .sheet-wuxTooltipText,
.sheet-rolltemplate-usetechnique .sheet-wuxTooltipText
{
    position: relative;
    text-decoration: underline dotted;
}

.wuxTooltip .wuxTooltipContent,
.sheet-rolltemplate-technique .sheet-wuxTooltip .sheet-wuxTooltipContent,
.sheet-rolltemplate-usetechnique .sheet-wuxTooltip .sheet-wuxTooltipContent
{
    position: absolute;
    top: 24px;
    left: 0px;
    width: 240px;
    padding: 5px;
    z-index: 1000;

    visibility: hidden;
    border-radius: 6px;
    border: 2px solid black;
}

.wuxTooltip .wuxTooltipContent,
.sheet-rolltemplate-technique .sheet-wuxTooltip .sheet-wuxTooltipContent,
.sheet-rolltemplate-usetechnique .sheet-wuxTooltip .sheet-wuxTooltipContent,
.wuxTooltip .wuxTooltipContent .wuxDescription,
.sheet-rolltemplate-technique .sheet-wuxTooltip .sheet-wuxTooltipContent .wuxDescription,
.sheet-rolltemplate-usetechnique .sheet-wuxTooltip .sheet-wuxTooltipContent .wuxDescription
{
    color: #3e3e3e;
    font-size: 11px;
    text-align: left;

    background: #fff;
}
.wuxTooltip .wuxTooltipContent .wuxHeader2,
.sheet-rolltemplate-technique .sheet-wuxTooltip .sheet-wuxTooltipContent .wuxHeader2,
.sheet-rolltemplate-usetechnique .sheet-wuxTooltip .sheet-wuxTooltipContent .wuxHeader2
{
    color: #3e3e3e;
}
  
.wuxTooltip:hover .wuxTooltipContent,
.sheet-rolltemplate-technique .sheet-wuxTooltip:hover .sheet-wuxTooltipContent,
.sheet-rolltemplate-usetechnique .sheet-wuxTooltip:hover .sheet-wuxTooltipContent
{
  visibility: visible;
}
  
.wuxTooltip .wuxTooltipContent:hover,
.sheet-rolltemplate-technique .wuxTooltip .sheet-wuxTooltipContent:hover,
.sheet-rolltemplate-usetechnique .wuxTooltip .sheet-wuxTooltipContent:hover
{
  visibility: hidden;
}

  /*========================================
     Heroic Techniques
  ========================================*/

  .wuxHeroicTechniques 
  {
    position: relative;
    display: none;
    width: 100%;
  }

  input[type=hidden].wuxHeroicTechniques-flag:not([value="Common"]) + .wuxHeroicTechniques
  {
    display: block;
  }

/*========================================
    Options
========================================*/

.wuxSectionBlock .wuxDisplayStyleParty,
.wuxSectionBlock .wuxDisplayStyleBattleLog,
.wuxSectionBlock .wuxDisplayStyleField-flag
{
    display: none;
}

input[type=hidden].wuxDisplayStyleField-flag[value="PartyManager"] + .wuxDisplayStyleParty,
input[type=hidden].wuxDisplayStyleField-flag[value="BattleLog"] + .wuxDisplayStyleBattleLog
{
    display: inherit;
}

.wuxSectionBlock .options-flag,
.wuxAspectContainer .options-flag,
.wuxSectionBlock .display-flag,
.wuxSectionBlock .wuxSectionContent-flag
{
    opacity: 0;    
    position: absolute;
    top: 0px;
    right: -3px;
    width: 18px;
    min-height: 18px;
    z-index: 100;
}

.wuxSectionBlock .display-flag,
.wuxSectionBlock .wuxSectionContent-flag
{
    left: 0px;
    width: 225px; 
    min-height: 25px;
}

.wuxSectionBlock .options-flag + span,
.wuxAspectContainer .options-flag + span
{
    position: absolute;
    top: -5px;
    right: -3px;
    white-space: nowrap;
    width: 18px;
    height: 18px;
    font-size: 20px;
    font-family: pictos;
    color: #d0d0d0;
    cursor: pointer;
    margin-top: 0px;
    display: none;
    opacity: 0;
    border-bottom: 0px;
    background-color: transparent;
    z-index: 99;
}

.wuxSectionBlock .wuxSubCategory .options-flag,
.wuxSectionBlock .wuxSubCategory .options-flag + span
{
    top: 0px;
}

.wuxSectionBlock .wuxInfoSection .options-flag,
.wuxSectionBlock .wuxInfoSection .options-flag + span
{
    top: 0px;
    left: 0px;
}

.wuxSectionBlock .wuxFieldSet .options-flag:checked + span,
.wuxAspectContainer .options-flag:checked + span,
.wuxSectionBlock .wuxSubCategory .options-flag:checked + span
{
    color: white;
    display: block;
    background-color: transparent;
}

.wuxSectionBlock .wuxFieldSet:hover > .options-flag + span,
.wuxSectionBlock .wuxSubCategory:hover > .options-flag + span,
.wuxSectionBlock .wuxInfoSection:hover > .options-flag + span,
.wuxAspectContainer:hover > .options-flag + span,
.wuxSectionBlock .wuxFormInputArea:hover > .options-flag + span
{
    opacity: 1;
    display: block;
}

.wuxSectionBlock .options,
.wuxAspectContainer .options
{
    position: relative;
    padding: 5px;
    margin-bottom: 5px;

	background: #5A5D5E;
    border-color: #a6a6a6;
    border-image: linear-gradient(170deg, #a6a6a600 60%, #a6a6a6FF 100%) 1;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
}

.wuxSectionBlock .options,
.wuxSectionBlock .wuxDisplay,
.wuxAspectContainer .options,
.wuxAspectContainer .wuxDisplay,
.wuxSectionBlock .wuxSectionContent-flag:not(:checked) ~ .wuxSectionContent
{
    display: none;
}

.wuxSectionBlock .options-flag:checked + span,
.wuxAspectContainer .options-flag:checked + span
{
    color: black;
    display: block;
    background-color: transparent;
}

.wuxSectionBlock:hover > .options-flag + span,
.wuxAspectContainer:hover > .options-flag + span
{
    opacity: 1;
    display: block;
}

.wuxSectionBlock .options-flag:checked ~ .options,
.wuxAspectContainer .options-flag:checked ~ .options,
.wuxSectionBlock .display-flag:checked ~ .wuxDisplay,
.wuxSectionBlock .wuxSectionContent-flag:checked ~ .wuxSectionContent
{
    display: inherit;
}

.wuxSectionBlock .options-flag:checked ~ .display,
.wuxAspectContainer .options-flag:checked ~ .display,
.wuxSectionBlock .options-flag:checked ~ .wuxDisplay,
.wuxSectionBlock .options-flag:checked ~ .wuxSectionContent,
.wuxSectionBlock .wuxSectionContent-flag:checked ~ .wuxSectionContentCollapsed
{
    display: none;
}