/*========================================
  Sidebar
========================================*/

.wuxSheetSidebar
{
    position: relative;
    display: block;
}

/*========================================
  Sticky Header
========================================*/

.wuxStickyHeader 
{
    width: calc(100% - 15px);
    min-height: 30px;
    padding: 0px 5px 5px 5px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: wrap row;
    align-content: flex-start;

	background: #1d1e1f;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px 10px 0px 0px;
    border-color: #000 #000 #DE9B72 #000;
}

.wuxStickyHeader .wuxHeader,
.wuxStickyHeader .wuxHeader2
{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
}

.wuxStickyHeader .wuxHeader2
{
    height: 10px;
}

.wuxStickyHeader .wuxStickyHeaderMain .wuxHeader2 span
{
    font-family: "Candal";
    font-size: 10px;
    text-overflow: clip;
    color: #f4f6f8;
}

.wuxStickyHeader .wuxHeader
{
    height: 18px;
}

.wuxStickyHeader .wuxHeader input
{
    margin-bottom: 5px;

    color: #f4f6f8;
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Candal";
    text-overflow: clip;

    background: none;
    border: none;
}

.wuxStickyHeader .wuxStickyHeaderMain .wuxHeader input
{
    font-size: 16px;
    background: linear-gradient(to bottom, #f4f6f8, #cacbcf, #535353);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wuxStickyHeader .wuxStickyHeaderMain .wuxHeader input[type=text]::placeholder
{
    color: #686868;
}

.wuxStickyHeader .wuxHeader input.wuxSizeSmall
{
    width: 25px;
}

/*========================================
    Emote Post
========================================*/

.wuxSectionBlock.wuxChatNotes textarea
{
    width: calc(100% - 10px);
    height: 40px;
    margin-bottom: 0px;

    color: #1d1e1f;
    font-size: 11px;
    line-height: 15px;
}

.wuxEmotePostGroup .display
{
    position: relative;
    padding: 5px;
    margin-bottom: 5px;

	background: #5A5D5E;
    border-color: #a6a6a6;
    border-image: linear-gradient(170deg, #a6a6a600 60%, #a6a6a6FF 100%) 1;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
}

.wuxEmotePostGroup textarea.wuxFormInput
{
    width: 215px;
    height: 80px;

    font-size: 10px;
}

.wuxEmotePostGroup .repcontainer > .repitem 
{
    display: inline-block;
}

.wuxEmotePostGroup div.wuxEmoteButton,
.wuxEmotePostGroup button.wuxEmoteButton[type=roll]
{
    position: relative;
    display: block; 
    height: 14px; 
    margin: 0px; 
    margin-right: 5px; 
    width: calc(100% - 10px);

    text-shadow: none;
}

.wuxEmotePostGroup button.wuxEmoteButton[type=roll]
{
    background: none;
    background-image: linear-gradient(320deg, #512800 0%, #4b1e00 20%, #512800 50%, #4b1e00 80%, #512800 100%);
    border-width: 0px;
    border-radius: 5px;
}

.wuxEmotePostGroup div.wuxEmoteButton span,
.wuxEmotePostGroup button.wuxEmoteButton[type=roll] span
{
    position: relative;
    bottom: 5px;
    left: -6px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0px 6px;

    border: 0px;
}

.wuxEmotePostGroup button.wuxEmoteButton[type=roll] span
{
    color: #f4f6f8;
    font-weight: normal;
    font-size: 10px;
}

.wuxEmotePostGroup button.wuxEmoteButton[type=roll]::before
{
    content: "" !important;
}

.wuxEmoteDisplayStyleList,
.wuxEmoteDisplayStyleRecast,
.wuxEmoteDisplayStyleField-flag
{
    display: none;
}

input[type=hidden].wuxEmoteDisplayStyleField-flag[value="List"] + .wuxEmoteDisplayStyleList,
input[type=hidden].wuxEmoteDisplayStyleField-flag[value="Recast"] + .wuxEmoteDisplayStyleRecast
{
    display: inherit;
}

/*========================================
    Techniques
========================================*/

.wuxTechnique,
.sheet-rolltemplate-technique,
.wuxTechniqueTable
{
    position: relative;
    display: inline-block;
    min-width: 200px; 
    max-width: 500px; 
    width: calc(100% - 10px);

    flex: 1;
}
.sheet-rolltemplate-technique
{
    line-height: 12px;
}

.wuxTechnique,
.sheet-rolltemplate-technique
{
    font-size: 12px;

    border: 3px solid black; 
    background: #cacbcf;
}

input[type=hidden].wuxTechnique-flag[value="1"] + .wuxTechnique,
input[type=hidden].wuxTechnique-flag[value="on"] + .wuxTechnique
{
    border: 3px solid #ba7417;
}

.wuxTechniqueHeader,
.sheet-rolltemplate-technique .sheet-wuxTechniqueHeader,
.wuxTechniqueTableHeader
{
    position: relative;
    display: block; 
    width: calc(100% - 10px);
    padding: 0px 0px 5px 10px; 
}

.wuxTechniqueHeader,
.sheet-rolltemplate-technique .sheet-wuxTechniqueHeader
{
    background: #c0e7d5;
    border-bottom: 1px solid #efefef; 
}

input.wuxTechniqueHeader-flag[value="Quick"] + .wuxTechniqueHeader,
.sheet-rolltemplate-technique .wuxTechniqueHeader-Quick
{
    background-color: #fbe5e5;
}

input.wuxTechniqueHeader-flag[value="Full"] + .wuxTechniqueHeader,
.sheet-rolltemplate-technique .wuxTechniqueHeader-Full
{
    background-color: #d7a0a0;
}

input.wuxTechniqueHeader-flag[value="Reaction"] + .wuxTechniqueHeader,
.sheet-rolltemplate-technique .wuxTechniqueHeader-Reaction
{
    background-color: #e5eafb;
}

input.wuxTechniqueHeader-flag[value="Free"] + .wuxTechniqueHeader,
.sheet-rolltemplate-technique .wuxTechniqueHeader-Free
{
    background-color: #e5fbf1;
}

input.wuxTechniqueHeader-flag[value="Augment"] + .wuxTechniqueHeader,
.sheet-rolltemplate-technique .wuxTechniqueHeader-Augment
{
    background-color: #acacac;
}

.wuxTechniqueType,
.sheet-rolltemplate-technique .sheet-wuxTechniqueType
{
    position: absolute;
    display: inline-block;
    right: 0px;
    width: 55px; 
    padding: 5px; 

    vertical-align: top; 
    text-align: center; 
    
    color: #FFF; 
    
    background: #000000;
}

input.wuxTechniqueType-flag[value="Active"] + .wuxTechniqueType,
.sheet-rolltemplate-technique .wuxTechniqueType-Active
{
    background-color: #b60003;
}

input.wuxTechniqueType-flag[value="Passive"] + .wuxTechniqueType,
.sheet-rolltemplate-technique .wuxTechniqueType-Passive
{
    background-color: #4db600;
}

input.wuxTechniqueType-flag[value="Support"] + .wuxTechniqueType,
.sheet-rolltemplate-technique .wuxTechniqueType-Support
{
    background-color: #00b0b6;
}

input.wuxTechniqueType-flag[value="Job"] + .wuxTechniqueType,
.sheet-rolltemplate-technique .wuxTechniqueType-Job
{
    background-color: #7800b6;
}

input.wuxTechniqueType-flag[value="Standard"] + .wuxTechniqueType,
.sheet-rolltemplate-technique .wuxTechniqueType-Standard
{
    background-color: #b66f00;
}

.wuxTechniqueType .wuxTechniqueTypeHeader,
.sheet-rolltemplate-technique .sheet-wuxTechniqueType .sheet-wuxTechniqueTypeHeader
{
    position: relative;
    display: block;

    font-size: 9px; 
    font-weight: bold;
}

.wuxTechniqueType .wuxTechniqueTypeFooter,
.sheet-rolltemplate-technique .sheet-wuxTechniqueType .sheet-wuxTechniqueTypeFooter
{
    position: relative;
    display: block;
    font-size: 7px;
}

.wuxTechniqueHeaderInteractBlock,
.wuxTechniqueHeaderInteractInnerBlock,
.wuxTechniqueTableHeaderInteractBlock 
{
    position: relative;
	display: inline-block;
	width: 25px;
	height: 20px;
}

.wuxTechniqueTableHeaderInteractBlock span
{
    color: #d0d0d0;
    font-size: 8px;
    text-align: center;
}

.wuxTechniqueHeaderInteractiveIcon,
.wuxTechniqueHeaderInteractivePictosIcon,
.wuxTechniqueHeaderInteractiveAuxIcon
{
    position: relative;
    bottom: 5px;

    color: #000;
    font-size: 20px;
}

input[type=number].wuxTechniqueHeaderInteractiveAuxIcon
{
    max-width: 25px;
    margin-left: -5px;

    font-size: 12px;

    background: #FFF;
}

.wuxTechniqueHeaderInteractiveIcon
{
	display: none;
}

input[type=hidden].wuxTechniqueHeaderInteractiveIcon-flag[value="on"] + .wuxTechniqueHeaderInteractiveIcon,
input[type=hidden].wuxTechniqueHeaderInteractiveIcon-flag[value="1"] + .wuxTechniqueHeaderInteractiveIcon,
.wuxTechniqueHeaderInteractiveAuxIcon
{
    display: inline-block;
}

input[type=hidden].wuxTechniqueHeaderInteractiveIcon-flag[value="on"] + .wuxTechniqueHeaderInteractiveAuxIcon,
input[type=hidden].wuxTechniqueHeaderInteractiveIcon-flag[value="1"] + .wuxTechniqueHeaderInteractiveAuxIcon
{
    display: none;
}

.wuxTechniqueHeaderInteractivePictosIcon
{
    font-family: pictos;
    color: #FFF;
}

input[type=hidden].wuxTechniqueHeaderInteractivePictosIcon-flag:not([value="0"]) + .wuxTechniqueHeaderInteractivePictosIcon
{
    color: #000;
}

.wuxTechniqueHeaderDisplayBlock,
.sheet-rolltemplate-technique .sheet-wuxTechniqueHeaderDisplayBlock
{
    position: relative;
    display:inline-block; 
    width: calc(100% - 115px);
}

.wuxTechniqueHeaderName,
.sheet-rolltemplate-technique .sheet-wuxTechniqueHeaderName
{
    position: relative;
    display: block; 

    width: 100%;
    margin-top: 5px; 
    
    font-size: 13px; 
    font-weight: bold;
}

.wuxTechniqueHeaderInfo,
.sheet-rolltemplate-technique .sheet-wuxTechniqueHeaderInfo
{
    position: relative;
    display: block; 

    font-size: 11px;
}

.wuxTechniqueHeaderInfoType,
.sheet-rolltemplate-technique .sheet-wuxTechniqueHeaderInfoType
{
    position: relative;
    font-weight: bold;
}

.wuxTechniqueExpandingContent,
.sheet-rolltemplate-technique .sheet-wuxTechniqueExpandingContent
{
    position: relative;
    display: none;
}

input[type="checkbox"].wuxTechniqueHeaderInteractBlock-flag
{
    opacity: 0;    
    position: absolute;
	display: block;
    pointer-events: inherit;
    top: 0px;
	left: 0px;
	right: 0px;
    min-height: 25px;
    z-index: 100;
}

input[type=hidden].wuxTechniqueHeaderInteractBlock-flag[value="on"] + .wuxTechniqueExpandingContent
{
    display: block;
}

input[type=hidden].wuxTechniqueHeaderInteractiveIcon-flag:not([value="0"]) + input.wuxTechniqueHeaderInteractBlock-flag
{
    pointer-events: none;
}

.wuxTechniqueFunctionBlock,
.sheet-rolltemplate-technique .sheet-wuxTechniqueFunctionBlock
{
    position: relative;
    display: block;

    width: calc(100% - 22px);
    padding: 5px 10px; 
    
    line-height: 14px; 
    font-size: 11px; 
    
    border-bottom: 1px solid #c6c6c6; 
    background: #fbf9e5;
}

.wuxTechniqueFunctionBlock .wuxTechniqueFunctionBlockRow,
.sheet-rolltemplate-technique .sheet-wuxTechniqueFunctionBlock .sheet-wuxTechniqueFunctionBlockRow
{
    position: relative;
    display: block;
}

.wuxTechniqueAttackBlock,
.sheet-rolltemplate-technique .sheet-wuxTechniqueAttackBlock
{
    position: relative;
    width: calc(100% - 30px);
    padding: 5px 5px; 
    margin: 5px 10px; 
    
    line-height: 14px; 
    font-size: 11px; 
    border: 1px solid black; 
    background: #e8c5c5;
}

.wuxTechniqueAttackBlock .wuxTechniqueAttackBlockRow,
.wuxTechniqueAttackBlock .wuxTechniqueAttackBlockRow .wuxTechniqueAttackBlockRange,
.wuxTechniqueAttackBlock .wuxTechniqueAttackBlockRow .wuxTechniqueAttackBlockTarget,
.sheet-rolltemplate-technique .sheet-wuxTechniqueAttackBlock .sheet-wuxTechniqueAttackBlockRow,
.sheet-rolltemplate-technique .sheet-wuxTechniqueAttackBlock .sheet-wuxTechniqueAttackBlockRow .sheet-wuxTechniqueAttackBlockRange,
.sheet-rolltemplate-technique .sheet-wuxTechniqueAttackBlock .sheet-wuxTechniqueAttackBlockRow .sheet-wuxTechniqueAttackBlockTarget
{
    position: relative;
    display: inline-block;
}

.wuxTechniqueAttackBlock .wuxTechniqueAttackBlockRow,
.sheet-rolltemplate-technique .sheet-wuxTechniqueAttackBlock .sheet-wuxTechniqueAttackBlockRow
{
    width: calc(100% - 22px);
}

.wuxTechniqueAttackBlock .wuxTechniqueAttackBlockRow .wuxTechniqueAttackBlockRange,
.sheet-rolltemplate-technique .sheet-wuxTechniqueAttackBlock .sheet-wuxTechniqueAttackBlockRow .sheet-wuxTechniqueAttackBlockRange
{
    padding-right: 10px;
}

.wuxTechniqueAttackBlock .wuxTechniqueAttackBlockRow .wuxTechniqueAttackBlockTarget,
.sheet-rolltemplate-technique .sheet-wuxTechniqueAttackBlock .sheet-wuxTechniqueAttackBlockRow .sheet-wuxTechniqueAttackBlockTarget
{
    width: calc(65% - 5px);
}

.wuxTechniqueDescriptionBlock,
.sheet-rolltemplate-technique .sheet-wuxTechniqueDescriptionBlock,
.wuxTechniqueEditBlock
{
    position: relative;
    display: block;
    width: calc(100% - 20px);
    padding: 5px 10px; 

    font-size: 11px;
}

.wuxTechniqueDescriptionBlock .wuxTechniqueDescriptionBlockDesc,
.sheet-rolltemplate-technique .sheet-wuxTechniqueDescriptionBlock .sheet-wuxTechniqueDescriptionBlockDesc
{
    display: inline-block;
    white-space: pre-line;
    word-break: break-word;
}

.wuxTechniqueEditBlock
{
    background-color: #1d1e1f;
}

/*========================================
   Traits
========================================*/

.wuxTrait,
.sheet-rolltemplate-technique .sheet-wuxTrait
{
    display: none;
    padding: 0px 3px;
}

input[type=hidden].wuxHiddenField-flag:not([value="0"]) + .wuxTrait,
.wuxShownTraits .wuxTrait,
.sheet-rolltemplate-technique .sheet-wuxTrait
{
    display: inline-block;
}

.wuxTraitText,
.sheet-rolltemplate-technique .sheet-wuxTraitText
{
    font-size: 11px;
    color: #0000FF;
    
    border-bottom: 1px dotted #0000FF;
}

.wuxTrait .wuxTooltiptext,
.sheet-rolltemplate-technique .sheet-wuxTrait .sheet-wuxTooltiptext
{
    position: absolute;
    top: 18px;
    left: 0px;
    width: 240px;
    padding: 5px;
    z-index: 1000;

    color: #3e3e3e;
    font-size: 11px;
    text-align: center;

    visibility: hidden;
    background: #fff;
    border-radius: 6px;
   border: 2px solid black;
  }
  
  .wuxTrait:hover .wuxTooltiptext,
  .sheet-rolltemplate-technique .sheet-wuxTrait:hover .sheet-wuxTooltiptext
  {
    visibility: visible;
  }

/*========================================
    Options
========================================*/

.wuxSectionBlock .wuxDisplayStyleParty,
.wuxSectionBlock .wuxDisplayStyleBattleLog,
.wuxSectionBlock .wuxDisplayStyleField-flag
{
    display: none;
}

input[type=hidden].wuxDisplayStyleField-flag[value="PartyManager"] + .wuxDisplayStyleParty,
input[type=hidden].wuxDisplayStyleField-flag[value="BattleLog"] + .wuxDisplayStyleBattleLog
{
    display: inherit;
}

.wuxSectionBlock .options-flag,
.wuxAspectContainer .options-flag,
.wuxSectionBlock .display-flag,
.wuxSectionBlock .wuxSectionContent-flag
{
    opacity: 0;    
    position: absolute;
    top: 0px;
    right: -3px;
    width: 18px;
    min-height: 18px;
    z-index: 100;
}

.wuxSectionBlock .display-flag,
.wuxSectionBlock .wuxSectionContent-flag
{
    left: 0px;
    width: 225px; 
    min-height: 25px;
}

.wuxSectionBlock .options-flag + span,
.wuxAspectContainer .options-flag + span
{
    position: absolute;
    top: -5px;
    right: -3px;
    white-space: nowrap;
    width: 18px;
    height: 18px;
    font-size: 20px;
    font-family: pictos;
    color: #d0d0d0;
    cursor: pointer;
    margin-top: 0px;
    display: none;
    opacity: 0;
    border-bottom: 0px;
    background-color: transparent;
    z-index: 99;
}

.wuxSectionBlock .wuxSubCategory .options-flag,
.wuxSectionBlock .wuxSubCategory .options-flag + span
{
    top: 0px;
}

.wuxSectionBlock .wuxInfoSection .options-flag,
.wuxSectionBlock .wuxInfoSection .options-flag + span
{
    top: 0px;
    left: 0px;
}

.wuxSectionBlock .wuxFieldSet .options-flag:checked + span,
.wuxAspectContainer .options-flag:checked + span,
.wuxSectionBlock .wuxSubCategory .options-flag:checked + span
{
    color: white;
    display: block;
    background-color: transparent;
}

.wuxSectionBlock .wuxFieldSet:hover > .options-flag + span,
.wuxSectionBlock .wuxSubCategory:hover > .options-flag + span,
.wuxSectionBlock .wuxInfoSection:hover > .options-flag + span,
.wuxAspectContainer:hover > .options-flag + span,
.wuxSectionBlock .wuxFormInputArea:hover > .options-flag + span
{
    opacity: 1;
    display: block;
}

.wuxSectionBlock .options,
.wuxAspectContainer .options
{
    position: relative;
    padding: 5px;
    margin-bottom: 5px;

	background: #5A5D5E;
    border-color: #a6a6a6;
    border-image: linear-gradient(170deg, #a6a6a600 60%, #a6a6a6FF 100%) 1;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
}

.wuxSectionBlock .options,
.wuxSectionBlock .wuxDisplay,
.wuxAspectContainer .options,
.wuxAspectContainer .wuxDisplay,
.wuxSectionBlock .wuxSectionContent-flag:not(:checked) ~ .wuxSectionContent
{
    display: none;
}

.wuxSectionBlock .options-flag:checked + span,
.wuxAspectContainer .options-flag:checked + span
{
    color: black;
    display: block;
    background-color: transparent;
}

.wuxSectionBlock:hover > .options-flag + span,
.wuxAspectContainer:hover > .options-flag + span
{
    opacity: 1;
    display: block;
}

.wuxSectionBlock .options-flag:checked ~ .options,
.wuxAspectContainer .options-flag:checked ~ .options,
.wuxSectionBlock .display-flag:checked ~ .wuxDisplay,
.wuxSectionBlock .wuxSectionContent-flag:checked ~ .wuxSectionContent
{
    display: inherit;
}

.wuxSectionBlock .options-flag:checked ~ .display,
.wuxAspectContainer .options-flag:checked ~ .display,
.wuxSectionBlock .options-flag:checked ~ .wuxDisplay,
.wuxSectionBlock .options-flag:checked ~ .wuxSectionContent,
.wuxSectionBlock .wuxSectionContent-flag:checked ~ .wuxSectionContentCollapsed
{
    display: none;
}